<div class="fellowship-container">

	<div style="margin: 0;">
	  <nav aria-label="breadcrumb" style="margin: 0 border: none; color: #FFF">
	    <ol class="breadcrumb" style="margin:0px; color: #333">
	      <li class="breadcrumb-item"><a href="./fellowship_fellows.html">Binance X Fellowship Program</a></li>
	      <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
	    </ol>
	  </nav>
	</div>

</div>
